.events {
	margin-bottom: 25%;
	height: 50%;
}

.events .list-group-item {
	background: rgba(54, 150, 62, .6);
  color: #fff;
}

.events .list-group-item:hover {
	color: #000;
}

.event-date {
	margin: 0 auto 0 auto;
	width: 70%;
}

.day {
	margin: 0 auto 0 auto;
	width: 70%;
}

.event-name {
	margin-top: 15px;
	font-weight: 500;
	color: #fff;
}

hr {
	margin: 5px auto 5px auto;
}