.story-title {
	margin-bottom: 0;
}

.story-content {
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 11px;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}