<div class='jumbotron'>
	<h1>Events</h1>
</div>

<div class="list-group events">
  <a ng-repeat='event in allEvents' ng-href="#events/{{event.id}}" class="list-group-item">
  	<div class='row'>
	    <div class='col-xs-5'>
	      <p class='day'> {{event.day}}</p>
	      <hr/>
	      <p class='event-date'> {{event.event_date}} </p>
	    </div>
	    <div class='col-xs-7'>
	    	<p class='event-name'> {{event.name}} </p>
	    </div>
    </div>
  </a>
</div>

<div class='footer'>
	<div class="btn-group">
	  <a href='#home'> <button type="button" class="btn btn-default">Home</button> </a>
	  <a href='#message_center'> <button type="button" class="btn btn-default">Notifications</button> </a>
	  <a href='#take_action'> <button type="button" class="btn btn-default">Take Action</button> </a>
	</div>
</div>