<div class="jumbotron">
  <h1>Grassroot</h1>
  <h2> <small> Mobilize your reach. </small> </h2>
</div>

<div class="row">
  <div class="list-group menu">
    <a href="#stories" class="list-group-item"> Stories </a>
    <a href="#events" class="list-group-item">Upcoming Events</a>
    <a href="#take_action" class="list-group-item">Take Action</a>
    <a href="#message_center" class="list-group-item"> Message Center </a>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-registration-mark"></span> 2014 Grassroot Mobile Inc </p>
</div>
