<div class="header">
</div>

<div class="jumbotron">
  <h1>Grassroot</h1>
  <h2> <small> The final solution for NPOs looking to expand their audience </small> </h2>
  <p><a class="btn btn-lg btn-success" ng-href="#">Jump In!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
  <div class="list-group">
    <a ng-href="#location" class="list-group-item"> Geolocation </a>
    <a href="#events" class="list-group-item">Upcoming Events</a>
    <a href="#" class="list-group-item">Find your inner philanthropist</a>
    <a href="#" class="list-group-item">Causes that need you</a>
    <a href="#" class="list-group-item">Direct line to Clinton</a>
  </div>

<div>
<p> Test API output: </p>
{{output}}
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-registration-mark"></span> 2014 Grassroot Mobile Inc (we really out here)</p>
</div>
