<div class='jumbotron'>
	<h1>News Updates</h1>
</div>

<div class="list-group menu">
  <a ng-repeat='story in allStories' ng-href="{{story.url}}" class="list-group-item">
  	<p class='story-title'> {{story.title}} </p>
  	<p class='story-content'> {{story.content}} </p>
  </a>
</div>

<div class='footer'>
	<div class="btn-group">
	  <a href='#home'> <button type="button" class="btn btn-default">Home</button> </a>
	  <a href='#message_center'> <button type="button" class="btn btn-default">Notifications</button> </a>
	  <a href='#take_action'> <button type="button" class="btn btn-default">Take Action</button> </a>
	</div>
</div>