<div class='jumbotron'>
	<h1>Take Action</h1>
</div>

<div class="row">
  <div class="list-group menu">
    <a href="#petitions" class="list-group-item"> Sign Petition </a>
    <a href="#newsletter" class="list-group-item">Sign Up For Newsletter</a>
    <a href="#" class="list-group-item">Send Letter (coming soon)</a>
  </div>

</div>

<div class='footer'>
	<div class="btn-group">
	  <a href='#home'> <button type="button" class="btn btn-default">Home</button> </a>
	  <a href='#stories'> <button type="button" class="btn btn-default">Stories</button> </a>
	  <a href='#message_center'> <button type="button" class="btn btn-default">Message Center</button> </a>
	</div>
</div>